[submodule ".registry"]
	path = .registry
	url = https://github.com/survey160/survey160.r-universe.dev
	branch = HEAD
[submodule "survey160r"]
	path = survey160r
	url = https://github.com/survey160/survey160r
